
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                type: 'GET',
                url: '/Home/GetReportJson',
                success: function (chartsdata) {
                    var Data = chartsdata.JSONList;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'img_category');
                    data.addColumn('number', 'จำนวนประเภทหมวดหมู่');

                    // นับจำนวนของแต่ละประเภทของ img_category
                    var categoryCounts = {};
                    Data.forEach(function (item) {
                        var category = item.img_category;
                        categoryCounts[category] = (categoryCounts[category] || 0) + 1;
                    });

                    // เพิ่มข้อมูลลงใน DataTable
                    for (var category in categoryCounts) {
                        data.addRow([category, categoryCounts[category]]);
                    }

                    var options = {
                        title: 'ประเภทหมวดหมู่',
                        pieSliceText: 'value',
                        font: '70px'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);
                }
            });
        }
    </script>
</head>
<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>
</html>

